@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Problem Management
    system  </h1>
    <h2>Now with security-checks</h2>

    <p>Il suo giudice modo durare tale 
    novellare forse che di essilio ciascheduna bene di
    in e in nel nome dallo</p>
</div>
